# mqtt server to connect to 
# example: iot.eclipse.org:1883
MQTT_BROKER=

# the parent mqtt topic to listen for
# example: joesdata/readings/
MQTT_TOPIC=

# child mqtt topics to listen for
# available topics: gyroscope,proximity,rotationvector,magnetometer,linearacceleration,gravity,accelerometer,lightintensity,noise/decibels,battery/percentage,battery/temperature,battery/voltage,gps
MQTT_SUBTOPICS=

# name of the sqlite database file
# if it does not exist the file will be created
# example: database.sql
SQLITE_DATABASE=database.sqlite

# socket address for the data query rest api
# example: 127.0.0.1:8080
API_ADDRESS=